@font-face {
    font-family: 'Roboto-Bold';
    src: local("Roboto-Bold"), url('./fonts/Roboto/Roboto-Bold.ttf') format("truetype");    
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: local("Roboto-Light"), url('./fonts/Roboto/Roboto-Light.ttf') format("truetype");    
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: local("Roboto-Regular"), url('./fonts/Roboto/Roboto-Regular.ttf') format("truetype");    
  }
  @font-face {
    font-family: 'Roboto-Condensed-Regular';
    src: local("RobotoCondensed-Regular"), url('./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format("truetype");    
  }
  