@import '../colors';

.detailProduct {
    .p-15.pb-5 {
        position: relative;
        top: 11px;
    }
    .p-15 {
        padding-left: 0px;
    }
    .col-sm-11 h2 {
        font-weight: bold !important;
        margin-bottom: 4px;
    }
    .itempage {
        margin-top: -15px;
        padding-top: 30px !important;
    }
    .title {
        padding-bottom: 20px !important;
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: $secondary !important;
    }

    #pricing {
        display: inline-block;
        float: right;
        position: relative;
        top: -9px;
    }
    #licensetype {
        display: inline-block;
        width: 150px !important;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px);
    }

    .btnflow {
        margin-top: 7px !important;
        color: white;
        float: right;
        position: relative;
        top: -3px;
        padding-left: 12px !important;
    }
    .guarantee-icon {
        display: inline-block;
    }
    .money-back-text {
        display: inline-block;
        width: 222px;
        position: relative;
        top: 10px;
        line-height: 20px;
        left: 13px;
    }

    .author-info {
        padding-left: 18px;
        position: relative;
        top: 3px;
        padding: 0px;
        margin: 0px;
        float: left;
        left: 20px;
        line-height: 16px;
    }

    .avatar-box img {
        border-radius: 50%;
        display: inline-block;
        float: left;
    }

    .author-info .author-name {
        font-size: 24px;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 6px;
        width: 153px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .btn.btn-success.mr-2.rounded.btn-view {
        width: 150px;
        color: white !important;
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }

    .btn-group,
    .btn-group-vertical {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: middle;
    }

    .slick-slider {
        padding-top: 0;
        padding-bottom: 0;
        height: 113px;
    }

    .lightbox-item {
        width: 97% !important;
        height: 90px;
        background-color: #efeded;
        border-radius: 2px;
        overflow: hidden;
        display: block;
    }
    .screenshot-thumb {
        vertical-align: middle;
        max-width: 100%;
        max-height: 96px;
    }
    .slick-slide img {
        margin: 0 auto !important;
    }
    .slick-slide img {
        display: block;
    }

    .carddescription {
        font-size: 14px !important;
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif !important;
    }

    .featureslist,
    .featureslist h3,
    .featureslist h1,
    .featureslist h2,
    .featureslist p,
    .featureslist span,
    .featureslist ul,
    .featureslist li .featureslist strong,
    .featureslist b,
    .featureslist div {
        font-size: 1em !important;
        font-weight: normal !important;
    }

    .scroll {
        height: 400px;
        overflow-y: scroll;
    }

    .getFontAndColor {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif !important;
        color: $secondary;
    }

    .buttonprice {
        position: absolute;
        float: left !important;
        top: 13px;
        width: 61px;
        border-radius: 0;
        background: #6315b8;
        border: none;
        font-size: 17px;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }

    .card-img-top {
        width: 100%;
        // height: 150px;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }

    .tall {
        border-radius: 5px;
        padding-left: 5em !important;
        padding-right: 5em !important;
    }

    .gap-smallest,
    .gap-half {
        margin-bottom: 15px !important;
    }
    @media only screen and (min-width: 1080px) {
        .large-12 {
            width: 100%;
        }
    }

    .semilar-item-img{
        height:150px;
    }

    
}
